@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*noinspection ALL*/
  @font-face {
    font-family: 'ICielStabile';
    src: url(/fonts/ICielStabile-Regular.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'ProximaNovaBold';
    src: url(/fonts/Proxima-Nova-Bold.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'ProximaNovaRegular';
    src: url(/fonts/Proxima-Nova-Regular.woff2) format('woff2');
  }
}

/*noinspection ALL*/
.splash-image {
  background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/img/splash.jpg)
}

.lore-background {
  background-color: #f8f5de;
  background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.05em;
  line-height: 1.8;
  padding: 5em;
}

.lore-caps {
  color: rgba(0,0,0,0.7);
  float:left;
  font-size: 7em;
  line-height: 60px;
  padding-right: 12px;
  position:relative;
  top:8px;
}
